@model IEnumerable<Domain.Models.Packet>

@{
	Layout = "_LayoutStudent";
	System.Globalization.CultureInfo dutch = new System.Globalization.CultureInfo("nl-NL");

}


<style>
	img {
		width: 285px;
		height: 285px;
		object-fit: cover;
	}

	body {
		margin-bottom: 60px;
		text-decoration: none;
		/*         height: 60vh; */
	}


	alert {
		color: red;
	}


	.close {
		border-radius: 6px;
		background-color: red;
	}

</style>

@if (TempData["ReservationMessage"] != null) {
	<div class="alert alert-warning alert-dismissible d-flex justify-content-between">

		@TempData["ReservationMessage"]
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
}

<div class="d-flex flex-wrap" style="padding: 20px;">


	@foreach (var item in Model) {
		<a href="@Url.Action("PacketDetails", "Student", new { id = item.Id })" class="custom-card" style="max-width: 21rem; position: relative;">
			<div class="card-header">@item.Name</div>
			<div class="card-body" style="position: relative;">
				<div class="img-container">
					<img src="@item.ImageUrl" alt="Packet Image" class="img" />
				</div>

			</div>
			<div class="card-footer">
				<p class="card-text">@item.Type</p>
				<p class="card-text">@item.City - @item.Canteen</p>
				<p cPickupTimerd-text">@item.PickupTime.ToString("dd MMMM, HH:mm", dutch)</p>
			</div>
			<div class="price-container">
				€@item.Price
			</div>
		</a>
	}
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


