@model (Domain.Models.Packet, IEnumerable<Domain.Models.Product>)
@{
	Layout = "_LayoutStudent";
}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Packet Details</title>
	<style>

		.packet-container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 60vh;
		}

		.card {
			position: relative; 
			border: 2.5px solid black !important;
			overflow: hidden !important; 
			margin: 2px;
			display: flex;
			height: 20vh;
			width: 9vw;
			overflow: hidden; 
		}

		.card-header {
			/* 			background-color: lightgray; */
		}

		.card-footer {
			/* background-color: lightgray; */
		}

		.card-body {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative; 
		}

		.card-image {
			position: absolute; 
			object-fit: contain;
			max-width: 100%;
			max-height: 100%;
		}

	</style>
</head>
<body>
	<div class="packet-container">
		<div class="packet-info-container">
			<div class="packet-info">
				<div class="packet-name">
					@Model.Item1.Name (€@Model.Item1.Price)

					@if (Model.Item1.OverEighteen) {
						<p class="subtext">Dit pakket is 18+</p>
					}

				</div>

				<div class="other-info-box">
					Kantine: @Model.Item1.City - @Model.Item1.Canteen<br>
					Type pakket: @Model.Item1.Type<br>
					Ophaaltijd: @Model.Item1.PickupTime<br>
					Maximale ophaaltijd: @Model.Item1.MaxPickupTime
				</div>

			</div>


			<a method="post" asp-action="Reserve" asp-controller="Student" tabindex="-1">
				<input type="hidden" name="packetId" value="@Model.Item1.Id" />
			</a>


			@* DEMOPRODUCTS *@
			<p style="margin-top:10px">Mogelijke producten:</p>
			<div class="product_images d-flex flex-wrap justify-content-center">
				@foreach (var item in Model.Item2) {

					<div class="card border-primary mb-3 mr-3">
						<div class="card-header demo_product_header ">@item.Name</div>
						<div class="card-body">
							<img src="@item.ImageUrl" alt="Packet Image" class="img-fluid card-image" />
						</div>
						<div class="card-footer">
							<p class="card-text"></p>
						</div>
					</div>

				}
			</div>

			@if ((bool)ViewData["OverEighteen"]) {
				<form asp-controller="Student" asp-action="Reserve" method="post" class="reserve-form">
					<input type="hidden" name="packetId" value="@Model.Item1.Id">
					<button class="reserve-button" type="submit">Reserveer</button>
				</form>
			}
			else {
				<div style="color:red; text-align:center">Dit pakket is 18+, u kunt dit niet reserveren</div>
			}


		</div>
		<div class="">
			<img src="@Model.Item1.ImageUrl" alt="Packet Image" class="packet-image">
		</div>
	</div>

</body>
</html>
