@model (Domain.Models.Packet, IEnumerable<Domain.Models.Product>)
@{
	Layout = "_LayoutEmployee";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Packet Details</title>
	<style>
		
		.button-container {
			display: flex; 
			flex-direction: row; 
			align-items: center;
			justify-content: center; 
			gap: 10px; 
			position: relative;
			/* height: 50%; */
		}

		.packet-container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 60vh;
		}

		.card {
			position: relative; 
			border: 2.5px solid black !important;
			overflow: hidden !important; 
			margin: 2px;
			display: flex;
			height: 20vh; 
			width: 9vw;
			overflow: hidden;
		}

		.card-header {
			/* 			background-color: lightgray; */
		}

		.card-footer {
			/* background-color: lightgray; */
		}

		.card-body {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative; 
		}

		.card-image {
			position: absolute;
			object-fit: contain;
			max-width: 100%;
			max-height: 100%;
		}

		.card-header {
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			text-align: center;
			font-weight: bold;
			border-radius: 20px;
			background-color: #62d2a2 !important;
		}

		.card-body {
			background-color: white;
		}

		.card-footer {
			background-color: #62d2a2 !important;
		}

	</style>
</head>
<body>


	<div class="packet-container">
		<div class="packet-info-container">
			<div class="packet-info">
				<div class="packet-name">
					@Model.Item1.Name (€@Model.Item1.Price)

					@if (Model.Item1.OverEighteen) {
						<p class="subtext">Dit pakket is 18+</p>
					}

				</div>

				<div class="other-info-box">
					Kantine: @Model.Item1.City - @Model.Item1.Canteen<br>
					Type pakket: @Model.Item1.Type<br>
					Ophaaltijd: @Model.Item1.DateTime<br>
					Maximale ophaaltijd: @Model.Item1.MaxDateTime
				</div>
			</div>



			@* DEMOPRODUCTS *@
			<p style="margin-top:10px">Mogelijke producten:</p>
			<div class="product_images d-flex flex-wrap justify-content-center">
				@foreach (var item in Model.Item2) {

					<div class="card border-primary mb-3 mr-3">
						<div class="card-header demo_product_header ">@item.Name</div>
						<div class="card-body">
							<img src="@item.ImageUrl" alt="Packet Image" class="img-fluid card-image" />
						</div>
						<div class="card-footer">
							<p class="card-text"></p>
						</div>
					</div>

				}
			</div>

			@* BUTTONS  *@
			@if (Model.Item1.ReservedById == null) {

				@if ((bool)ViewData["CanEdit"]) {
					<div class="button-container">
						<form asp-controller="Employee" asp-action="DeletePacket" method="post">
							<input type="hidden" name="id" value="@Model.Item1.Id" />
							@* <button type="submit" class="btn btn-danger delete-product-button">Verwijder pakket</button> *@
							<button type="button" class="btn btn-danger delete-product-button" onclick="showDeleteConfirmation()">Verwijder pakket</button>

						</form>
						<a asp-controller="Employee" asp-action="EditPacket" asp-route-id="@Model.Item1.Id" class="btn btn-primary">Pas pakket aan</a>
					</div>
				}
			} else {
				<p style="text-align:center">Dit pakket is gereserveerd</p>
			}
		</div>
		<div class="">
			<img src="@Model.Item1.ImageUrl" alt="Packet Image" class="packet-image">

		</div>

	</div>


	<!-- Modal for Delete Confirmation -->
	<div id="deleteConfirmationModal" class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Pakket Verwijderen?</h5>
				</div>
				<div class="modal-body">
					<p>Weet je zeker dat je het pakket wilt verwijderen?</p>
				</div>
				<div class="modal-footer">
					<form asp-controller="Employee" asp-action="DeletePacket" method="post">
						<input type="hidden" name="id" value="@Model.Item1.Id" />
						<button type="submit" class="btn btn-danger delete-product-button">Verwijder Pakket</button>
					</form>
					<button type="button" class="btn btn-primary" id="closeDelete">Annuleren</button>

				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script>
		function showDeleteConfirmation() {
			$('#deleteConfirmationModal').modal('show');
		}

		$("#closeDelete").click(function () {

			$("#deleteConfirmationModal").modal("hide");
		});
	</script>
</body>


</html>


