@model (IOrderedEnumerable<Domain.Models.Packet>, IOrderedEnumerable<Domain.Models.Packet>)

@{
	Layout = "_Layout";
	System.Globalization.CultureInfo dutch = new System.Globalization.CultureInfo("nl-NL");
}
<head>
	<style>
		img {
			width: 300px;
			height: 300px;
			object-fit: cover;
		}

		body {
			margin-bottom: 60px;
		}

		.price-container {
			background-color: white;
			border: 1px solid #ccc; /* Add borders as per your requirements */
			border-radius: 5px; /* Optional: Add rounded corners */
			padding: 5px;
			position: absolute;
			bottom: 10px;
			right: 10px;
		}

		.custom-card {
			border: 2px solid #26523f;
			border-radius: 20px; /* Replace #007BFF with the appropriate color code for your "primary" color */
			margin-bottom: 1rem; /* Equivalent to Bootstrap's mb-3 */
			margin-right: 1rem; /* Equivalent to Bootstrap's mr-3 */
			overflow: hidden; /* Add this line */
		}

		.card-header {
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			text-align: center;
			font-weight: bold;
			border-radius:20px;
			background-color: #62d2a2;
			
		}

	</style>
</head>

<h2>Jouw kantine</h2>
<div class="d-flex flex-wrap" style="padding:20px">
	@foreach (var item in Model.Item1) {
		<div class="custom-card" style="max-width: 21rem;">
			<div class="card-header">@item.Name</div>
			<div class="card-body">
				<img src="@item.ImageUrl" alt="Packet Image" class="img" />

			</div>
			<div class="card-footer" style="background-color:#62d2a2">
				<p class="card-text">@item.Type</p>
				<p class="card-text">@item.City - @item.Canteen</p>
				<p class="card-text">@item.DateTime.ToString("dd MMMM, HH:mm",dutch)</p>
				<a href="@Url.Action("PacketDetails", "Employee", new { id = item.Id })">View Details</a>

			</div>
			<div class="price-container">
				€@item.Price
			</div>
		</div>
	}
</div>

<h2>Andere kantine's</h2>
<div class="d-flex flex-wrap" style="padding:20px">
	@foreach (var item in Model.Item2) {
		<div class="card border-primary mb-3 mr-3" style="max-width: 21rem;">
			<div class="card-header">@item.Name</div>
			<div class="card-body">
				<img src="@item.ImageUrl" alt="Packet Image" class="img+" />
				<p class="card-text">@item.Price</p>
			</div>
			<div class="card-footer">
				<p class="card-text">@item.Type</p>
				<p class="card-text">@item.DateTime</p>
				<a href="@Url.Action("PacketDetails", "Employee", new { id = item.Id })">View Details</a>

			</div>
			<div class="price-container">
				€@item.Price
			</div>
		</div>
	}
</div>
