@model (IEnumerable<Domain.Models.Packet>, IEnumerable<Domain.Models.Packet>)


@{
    Layout = "_LayoutEmployee";
    System.Globalization.CultureInfo dutch = new System.Globalization.CultureInfo("nl-NL");
}
<head>
    <style>
        img {
            width: 285px;
            height: 285px;
            object-fit: cover;
        }

        body {
            margin-bottom: 60px;

        }

        

        

   
    </style>
</head>

<h2 class="koptekst">Jouw kantine:</h2>
<div class="d-flex flex-wrap" style="padding: 20px;">
    @foreach (var item in Model.Item1) {
        <a href="@Url.Action("PacketDetails", "Employee", new { id = item.Id })" class="custom-card" style="max-width: 21rem; position: relative;">
            <div class="card-header">@item.Name</div>
            <div class="card-body" style="position: relative;">
                <div class="img-container">
                    <img src="@item.ImageUrl" alt="Packet Image" class="img" />
                </div>

            </div>
            <div class="card-footer" >
                <p class="card-text">@item.Type</p>
                <p class="card-text">@item.City - @item.Canteen</p>
                <p class="card-text">@item.PickupTime.ToString("dd MMMM, HH:mm", dutch)</p>
            </div>
            <div class="price-container">
                €@item.Price
            </div>
        </a>
    }
</div>

@* Horizontal Line *@
<hr />


<h2 class="koptekst">Andere kantine's:</h2>
<div class="d-flex flex-wrap" style="padding: 20px;">
    @foreach (var item in Model.Item2) {
        <a href="@Url.Action("PacketDetails", "Employee", new { id = item.Id })" class="custom-card" style="max-width: 21rem; position: relative;">
            <div class="card-header">@item.Name</div>
            <div class="card-body" style="position: relative;">
                <div class="img-container">
                    <img src="@item.ImageUrl" alt="Packet Image" class="img" />
                </div>

            </div>
            <div class="card-footer" >
                <p class="card-text">@item.Type</p>
                <p class="card-text">@item.City - @item.Canteen</p>
                <p class="card-text">@item.PickupTime.ToString("dd MMMM, HH:mm", dutch)</p>
            </div>
            <div class="price-container">
                €@item.Price
            </div>
        </a>
    }
</div>
